<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-left">
    <br />
    <h1>A learning platform<h1>
    <br/>
    <h2>"I am not a teacher, <br> but an awakener."<br> - Robert Frost</h2>
    <br />
    <%= link_to 'Learn More', 'courses_path', class: 'btn btn-success' %>
    <br />
  </div>
</div>
<br />

<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Collaborative.</h3>
    <br />
    <p> Join fellow awakeners. Share in the journey of continuing education.</p>
  </div>
  <div class="col-12 col-sm">
    <h3>Collectable.</h3>
    <br />
    <p> Store a collection of your favorite lessons</p>
  </div>
  <div class="col-12 col-sm">
    <h3>Creative.</h3>
    <br />
    <p> Help others by creating new lessons on interesting topics</p>
  </div>
</div>
