<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-left">
    <br />
    <h1>Learn something from someone</h1>
    <br />
    <h2>Learning is fun!</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>